@charset "UTF-8";

/** 
태그들의 css 요소들 작업입니다.
모든 요소는 분류에서 abc 순으로 정렬되어 있습니다.
  */
a{
	text-decoration: none;
	color: black;
}
body{
	margin : 0;
}

header{
	margin : 30px 0;
}

h2{
	font-weight: 900;
}

ul{
	list-style:none;
}

/** 
클래스의 css 요소들 작업입니다.
  */
.footer-area{
	display : flex;
	justify-content: space-between;
}

.top_Icon{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.boxFlexTop{
	display : flex;
	justify-content: space-between;
	/* flex-direction: row; */
	margin : 30px 0;
	vertical-align: middle;
	
}

.boxFlexTop div input{
	padding : 5px;
}

.boxFlexTop div img{
	
}

.navbar{
	padding-left: 15em;
}

#navbarSupportedContent ul li a{
	margin : 10px 15px;
	padding : 0px 30px;
}

.item{
	width: 240px;
  	height: 163px;
	border: 1px solid black;
}

.item img{
	width: 240px;
  	height: 163px;
}

.slider {
    width: 100%;
    height: 200px;
    position: relative;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  
.slider::-webkit-scrollbar {
display: none;
}

.slider .slide {
display: flex;
position: absolute;
left: 0;
transition: 0.3s left ease-in-out;
}

.slider .item {
margin-right: 10px;
}

.slider .item:last-child {
margin-right: 0;
}

.ctrl {
text-align: center;
margin-top: 5px;
}

.ctrl-btn {
padding: 20px 20px;
min-width: 50px;
background: #fff;
border: none;
font-weight: 600;
text-align: center;
cursor: pointer;
outline: none;

position: absolute;
top: 50%;
margin-top: -27.5px;
}

.ctrl-btn.pro-prev {
left: 0;
}

.ctrl-btn.pro-next {
right: 0;
}

/** 
아이디의 css 요소들 작업입니다. (분류 진행 중)
  */
