@charset "UTF-8";

/** 
태그들의 css 요소들 작업입니다.
모든 요소는 분류에서 abc 순으로 정렬되어 있습니다.
  */
table{
	border: 1px dotted red;
}
/*
th, tr, td{
border: 1px dotted red;
text-align: center;
padding:10px;
}*/
  
a{
	text-decoration: none;
	color: black;
}
body{
	margin : 0;
}

header{
	margin : 30px 0;
}

h2{
	font-weight: 900;
}

ul{
	list-style:none;
}
main{
	text-align: center;
}
footer{
	border-top: 1px solid #848484;
	padding-top: 30px;
}

/** 
클래스의 css 요소들 작업입니다.
  */
.container{
	
}

.footer-area{
	display : flex;
	justify-content: space-between;
}

.footer-content{
	width : 1140px;
}

.footer-content .row{
	width : 1140px;
}


.top_Icon{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.boxFlexTop{
	display : flex;
	justify-content: space-between;
	/* flex-direction: row; */
	margin : 30px 0;
	vertical-align: middle;
	
}

.boxFlexTop div input{
	padding : 5px;
}

.navbar{
	padding-left: 15em;
}

.nav-item a{
	color: white;
}

.nav-item a:hover{
	color: yellow;
}

#navbarSupportedContent ul li a{
	margin : 10px 15px;
	padding : 0px 30px;
}

.item{
	width: 240px;
  	height: 163px;
	border: 1px solid black;
}

.item img{
	width: 240px;
  	height: 163px;
}

.slider {
    width: 100%;
    height: 200px;
    position: relative;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  
.slider::-webkit-scrollbar {
display: none;
}

.slider .slide {
display: flex;
position: absolute;
left: 0;
transition: 0.3s left ease-in-out;
}

.slider .item {
margin-right: 10px;
}

.slider .item:last-child {
margin-right: 0;
}

.ctrl {
text-align: center;
margin-top: 5px;
}

.ctrl-btn {
padding: 20px 20px;
min-width: 50px;
background: #fff;
border: none;
font-weight: 600;
text-align: center;
cursor: pointer;
outline: none;

position: absolute;
top: 50%;
margin-top: -27.5px;
}

.ctrl-btn.pro-prev {
left: 0;
}

.ctrl-btn.pro-next {
right: 0;
}

/* 레시피 카테고리 클래스 모음 */
.recipe-card{
	zoom: 0.9;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
	background-color: #dccfc3;
}
.categoryListTitle{
	
}
.categoryListTitle b{
	font-size: 200%;
	font-weight: 700;
	color: purple;
}
.categoryListTitle ul li{
	border: 1px solid black;
	padding: 5px;
}

.pull-right{
	float: right;
}
.main-contents-list{
	width: 1100px;
}

/** 
아이디의 css 요소들 작업입니다. (분류 진행 중)
  */

#loginOrJoin:hover #loginBtn, #loginOrJoin:hover #joinBtn{
	opacity: 100;
}

#loginBtn, #joinBtn{
	position: absolute;
	width: 100px;
	height: 70px;
	line-height: 70px;
	z-index: 10;
	text-align: center;
	transition-duration: 0.3s;
	opacity: 0;
}
#loginBtn{
	background: red;
	right: 250px;
}
#joinBtn{
	background: blue;
	right: 150px;
}